$primary: #209e91 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;
$zipplexColorLight: #27aae1;

// Navbar
$nav-bg: #0075dd;
$nav-item: white;
$nav-item-bg-active: #252d43;
$nav-sub-item-active: #0088ef;

// Button
$button-gray-hover: #c4c4c4;
$button-add-entry-hover-bg: #71c2ff;
$button-add-entry-hover-color: white;
$button-success-bg: #37a703;
$button-success-bg-hover: #66cc36;