<app-modal-wrapper
    title="Chi tiết"
    (onClose)="handleClose()">
    @if(data)
    {

    <div
        class="max-w-md mx-auto bg-white ounded-2xl p-6 space-y-4">
        <div class="flex items-center space-x-4">
            <img [src]="data.image" [alt]="data.name"
                class="w-24 h-24 object-contain" />
            <div>
                <h2 class="text-2xl font-bold text-gray-800">{{ data.name
                    }}</h2>
                <p class="text-sm text-gray-500">ID: {{ data.id }} | Generation:
                    {{ data.generation }}</p>
                <p class="text-sm text-gray-500">
                    Type:
                    <span class="text-blue-600 font-medium">{{ data.type1
                        }}</span>
                    @if(data.type2)
                    {

                    <span>/ <span
                            class="text-blue-600 font-medium">{{ data.type2
                            }}</span></span>
                    }

                </p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
            <div class="flex justify-between"><span
                    class="font-medium">HP:</span> <span>{{ data.hp
                    }}</span></div>
            <div class="flex justify-between"><span
                    class="font-medium">Attack:</span> <span>{{ data.attack
                    }}</span></div>
            <div class="flex justify-between"><span
                    class="font-medium">Defense:</span> <span>{{ data.defense
                    }}</span></div>
            <div class="flex justify-between"><span class="font-medium">Sp.
                    Attack:</span> <span>{{ data.spAttack }}</span></div>
            <div class="flex justify-between"><span class="font-medium">Sp.
                    Defense:</span> <span>{{ data.spDefense }}</span></div>
            <div class="flex justify-between"><span
                    class="font-medium">Speed:</span> <span>{{ data.speed
                    }}</span></div>

            <div class="col-span-2 flex justify-between border-t pt-2 mt-2">
                <span class="font-semibold">Total Stats:</span>
                <span class="font-semibold">{{ data.total }}</span>
            </div>

            <div class="col-span-2">
                <span class="text-sm px-2 py-1 bg-gray-200 rounded-full">
                    Legendary:
                    <span
                        [ngClass]="data.legendary ? 'text-green-600' : 'text-red-500'">
                        {{ data.legendary ? 'True' : 'False' }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    }

</app-modal-wrapper>
