<div class="flex min-h-dvh bg-white">
    <div
        class="hidden md:block md:w-1/2 p-10 relative bg-[url('src\assets\img\logo_pokmeon.jpg')] bg-cover bg-center w-full text-white">
        <div class="w-full h-full flex flex-col justify-between gap-[10px]">
            <div class="grow flex flex-col">
                <div
                    class="grow flex flex-col justify-end items-center pb-20">

                    <h2
                        class="text-4xl font-display font-semibold tracking-tight text-white text-center">
                        POKEMON
                    </h2>
                    <p
                        class="mt-4 text-white/80 leading-relaxed max-w-md text-center mx-auto">
                        Analyze, manage, and optimize your workflow with our
                        powerful time tracking platform.
                    </p>
                </div>
            </div>
            <div class="w-full">
                <p
                    class="text-text-brand-tertiary text-text-sm-regular font-semibold">
                    © 2025 Pokemon Defense.
                </p>
            </div>
        </div>
    </div>

    <div
        class="w-full md:w-1/2 flex items-center justify-center py-8 container">
        <ng-content></ng-content>
    </div>
</div>
